body {
  background-color: rgb(93, 92, 128);
}

.App {
  text-align: center;
 
}

.question-card{
margin: 0 auto;
  
background-color :rgb(48, 47, 47);
padding: 16px;
border-radius:16px;
color: white;
box-shadow: rgba(50,50,93, 0.25) 0px 30 px 60px  -12px,
rgba(0,0,0,0.3) 0px,18px,36px, -18px;

width:80%;
height:auto;

}

ul{
  list-style: none;

}

li{
  background-color :rgb(139, 134, 134);
  padding: 16px;
  border-radius:20px;
  border: 3px solid white;
  font-size: 20px;
  margin-top:8px;

}
.question-text{
  color: rgb(76, 76, 179);
}

.final-result
  {
    margin: 0 auto;
      
    background-color :gray;
    padding: 16px;
    border-radius:16px;
    color: white;
    box-shadow: rgba(50,50,93, 0.25) 0px 30 px 60px  -12px,
    rgba(0,0,0,0.3) 0px,18px,36px, -18px;
    
    width:50%;
    height:auto;
    
    }
button
{
background-color: red;
border: none;
color: white;
padding: 16px 24px;
text-align:center;
text-decoration: none;
display: inline-block;
font-size: 16px;
font-weight: bold;

border-radius: 24px;
}

.clickable {
  cursor: pointer;
}

